@import 'tailwindcss';

#root {
  min-height: 100vh;
  width: 100%;
}

/* Reset some default styling for our app */
body {
  margin: 0;
  padding: 0;
}

/* The rest of the styling should be handled by the component classes */
